h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

/* SMALLER ELEMENTS */
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;

  text-transform: uppercase;
  font-style: italic;

  /* color: #fff; */
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
h3 {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 40px;
}
h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;

  line-height: 1.5;
  margin-bottom: 15px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

/* footer p {
  font-size: 16px;
} */
nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

/* PAGE SECTIONS */
body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
}

.container {
  width: 70%;
  /*  margin of the left must be equal to margin of the left . so it would center */
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
}

.post-header {
  margin-bottom: 40px;
}

aside {
  padding: 50px 0;
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  width: 500px;
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

li:nth-child(even) {
  /* color: red; */
}

/* it will look for article that has first child as p */
/* in this case its header element */
/* will not work article p:first-child {
  color: red;
} */

/* will work as article last element is p */
/* article p:last-child {
  color: red;
} */

/* will target anchor element that has href attribute */
/*  lvha - shortcut and this is how the order of these should be  */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* color: #7777; */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/*  priority order */
/* declaration marked -> inline -> id has the most priority then class then element selector(p,div) then universal * */

.post-img {
  /* width 100 percent means the size of parent container */
  width: 100%;
  height: auto;
  /* use auto when height is already specified somewhere */
}

nav a:link {
  background-color: orangered;
  margin: 20px;
  /* padding: 20px; */
  /* Will occupy all the width and set vertically nexxt to each other */
  /* display: block; */
}
